# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Scripts.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\buber\Documents\Repository\VR-BossBeater\PoopooLol\Assets\Scripts\.idea\.idea.Scripts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
